@{
    ViewData["Title"] = "Falha na Confirmação de Email";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-danger text-center" role="alert">
            <h2>Falha na Confirmação do Email</h2>
            <p>Infelizmente, não conseguimos confirmar o seu endereço de e-mail. Isso pode ter ocorrido por diversos motivos, como um link de confirmação expirado ou inválido.</p>
            <p>Por favor, tente as seguintes opções:</p>
            <ul>
                <li>Verifique o link de confirmação que você recebeu no seu e-mail. Ele pode ter expirado.</li>
                <li>Se você não encontrou o e-mail, confira a sua caixa de spam ou lixo eletrônico.</li>      
                <li>Pode voltar a registar para receber outro e-mail</li>
            </ul>
        </div>
    </div>
</body>
</html>

