@model Access.Models.Authentication.LoginModel

<div class="container">
    <h2>Login</h2>
    @* Isso exibirá todas as mensagens de erro adicionadas com ModelState.AddModelError *@
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Login">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <a href="@Url.Action("ForgotPassword", "Account")">Forgot Password?</a>
</div>